
@{
    /**/

    /**/

    ViewBag.Title = "Kullanım Alanları";
    Layout = "~/Areas/AdminPanel/Views/Shared/_adminLayout.cshtml";
}


@using talkTable.Entities.Entities
@model usingArea



<div class="info"></div>

    @Html.AntiForgeryToken()
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>Kullanım Alanı Tanım</strong>
                        </div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                <label class=" form-control-label">Kullanım Alanı Başlık</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-info"></i></div>
                                    <input class="form-control areaCaption" required maxlength="100" name="areaCaption" value="@Model.areaCaption"/>
                                </div>
                                @Html.ValidationMessageFor(m => m.areaCaption, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label">Kullanım Alanı</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-file-text-o"></i></div>
                                    <textarea class="form-control areaDescription" required maxlength="100" name="areaDescription" rows="10" style="overflow:scroll">@Model.areaDescription</textarea>
                                </div>
                                @Html.ValidationMessageFor(m => m.areaDescription, "", new { @style = "color:red" })
                            </div>
                            <input type="submit" value="Güncelle" data-id="@Model.id" class="btn btn-success using-area" style="float:right" />
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong>Kullanım Alanı</strong>
                        </div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                <label class=" form-control-label">Kullanım Alanı Ekle</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-file-text-o"></i></div>
                                    <textarea class="form-control areaInfoText" required maxlength="100" name="areaInfoText"></textarea>
                                </div>
                                @Html.ValidationMessage("areaInfoText", "", new { @style = "color:red" })
                            </div>
                            <a class="btn btn-success areaInfo" style="float:right;color:white">Ekle</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Kullanım Alanları</strong>
                        </div>
                        <div class="card-body">

                            <div class="panel panel-success">
                                <div class="panel-heading">

                                    <div class="pull-right">
                                        <span class="clickable filter" data-toggle="tooltip" title="Arama Yap" data-container="body">
                                            <i class="glyphicon glyphicon-filter"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Arama..." />
                                </div>
                                <table id="task-table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>

                                            <th>Açıklama</th>

                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (areaInfo info in ViewBag.kullanimAlanlari)
                                        {
                                            <tr>
                                                <td>@info.areaInfoText</td>

                                                <td><button type="submit" data-id="@info.id" class="btn btn-danger deleteInfo"><i class="fa fa-trash"></i></button></td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                    
                </div>

            

            </div>
        </div><!-- .animated -->
    </div>

@section js{
    <script type="text/javascript">
        function infoMessageFail(msg) {
            var okFail = '<div class="col-sm-12">';
            okFail += '<div class="alert  alert-danger alert-dismissible fade show" role="alert">';
            okFail += ' <span class="badge badge-pill badge-success">Hata</span> ' + msg;
            okFail += ' <button type="button" class="close" data-dismiss="alert" aria-label="Close">';
            okFail += '<span aria-hidden="true">&times;</span>';
            okFail += '</button>';
            okFail += '</div>';
            okFail += ' </div>';
            return okFail;
        }
        function infoMessageOK(msg) {
            var ok = '<div class="col-sm-12">';
            ok += '<div class="alert  alert-success alert-dismissible fade show" role="alert">';
            ok += ' <span class="badge badge-pill badge-success">Başarılı</span> ' + msg;
            ok += ' <button type="button" class="close" data-dismiss="alert" aria-label="Close">';
            ok += '<span aria-hidden="true">&times;</span>';
            ok += '</button>';
            ok += '</div>';
            ok += ' </div>';
            return ok;
        }
        $(".areaInfo").click(function () {

            var areaInfoText = $(".areaInfoText").val();
          
            $.ajax({
                url: "/AdminPanel/KullanimAlanlari/kullanimAlanlariEkle",
                type: "POST",
                data: { areaInfoText: areaInfoText },
                success: function (data) {
                    if (data == 1) {


                        $(".info").html(infoMessageOK("Kullanim Alanı Başarıyla Güncellendi."));
                        
                        setTimeout(function () { $('.info').hide('slow'); }, 2000);
                      
                        setTimeout(function () { document.location.replace("/AdminPanel/KullanimAlanlari/kullanimAlanlari") }, 3000);

                    } else {
                        infoMessageFail(" Kullanim Alanı Güncelleme Sırasında Bir Hata Meydana Geldi!");

                        setTimeout(function () { $('.info').hide('slow'); }, 5000);
                    }
                },
                error: function () {
                    infoMessageFail(" Kullanim Alanı Güncelleme Sırasında Bir Hata Meydana Geldi!");

                    setTimeout(function () { $('.info').hide('slow'); }, 5000);
                }
            });

        });
        $(".using-area").click(function () {
            var serviceId = $(this).data("id");
            var areaDescription = $(".areaDescription").val();
            var areaCaption = $(".areaCaption").val();
            $.ajax({
                url: "/AdminPanel/KullanimAlanlari/kullanimAlanlariAciklamaDuzenle",
                type: "POST",
                data: { id: serviceId, areaDescription: areaDescription, areaCaption: areaCaption },
                success: function (data) {
                    if (data == 1) {


                        $(".info").html(infoMessageOK("Kullanim Alanı Başarıyla Güncellendi."));
                        setTimeout(function () { $('.info').hide('slow'); }, 2000);
                        setTimeout(function () { document.location.replace("/AdminPanel/KullanimAlanlari/kullanimAlanlari") }, 3000);

                    } else {
                        infoMessageFail(" Kullanim Alanı Güncelleme Sırasında Bir Hata Meydana Geldi!");

                        setTimeout(function () { $('.info').hide('slow'); }, 5000);
                    }
                },
                error: function () {
                    infoMessageFail(" Kullanim Alanı Güncelleme Sırasında Bir Hata Meydana Geldi!");

                    setTimeout(function () { $('.info').hide('slow'); }, 5000);
                }
            });

        });
        $(".deleteInfo").click(function () {
            var serviceId = $(this).data("id");
            var findTR = $(this).closest("tr");
            $.ajax({
                url: "/AdminPanel/KullanimAlanlari/kullanimAlanlariSil",
                type: "POST",
                data: { id: serviceId },
                success: function (data) {
                    if (data == 1) {
                        findTR.fadeOut(1000, function () {
                            findTR.remove();
                        });

                        $(".info").html(infoMessageOK("Kullanim Alanı Başarıyla Silindi."));
                        setTimeout(function () { $('.info').hide('slow'); }, 2000);
                        setTimeout(function () { document.location.replace("/AdminPanel/KullanimAlanlari/kullanimAlanlari") }, 3000);


                    } else {
                        infoMessageFail(" Kullanim Alanı Silme Sırasında Bir Hata Meydana Geldi!");

                        setTimeout(function () { $('.info').hide('slow'); }, 5000);
                    }
                },
                error: function () {
                    infoMessageFail(" Kullanim Alanı Silme Sırasında Bir Hata Meydana Geldi!");

                    setTimeout(function () { $('.info').hide('slow'); }, 5000);
                }
            });

        });
    </script>
}





