
@{
    /**/

    ViewBag.Title = "Servisler";
    Layout = "~/Areas/AdminPanel/Views/Shared/_adminLayout.cshtml";
}



@using talkTable.Entities.Entities
@model validity
@if (Session["bannerEklenemedi"] != null)
{
    string mesaj = (string)Session["bannerEklenemedi"];
    if (mesaj == "Resim Başarıyla Eklendi")
    {

        <div class="col-sm-12">

            <div class="alert  alert-success alert-dismissible fade show" role="alert">
                <span class="badge badge-pill badge-success">Başarılı</span> @mesaj
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        Session["bannerEklenemedi"] = null;
    }
    else
    {
        <div class="col-sm-12">
            <div class="alert  alert-danger alert-dismissible fade show" role="alert">
                <span class="badge badge-pill badge-danger">Hata</span> @mesaj
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>';
                </button>
            </div>
        </div>
        Session["bannerEklenemedi"] = null;
    }



}

        <h6 style="color:red;margin-left:30px"> @Html.ValidationSummary(true)</h6>
<div class="alert"></div>
@if (Model != null)
{
    <div class="content mt-3">
        <div class="animated fadeIn">
            <form method="post" action="/AdminPanel/Servisler/servisGuncelle" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.id)
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Resim Ekle</strong>
                            </div>


                            <div class="card-body card-block ">

                                <div class="form-group">
                                    <label class=" form-control-label">Arkaplan Resmi</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-image"></i></div>
                                        <input class="form-control" type="file" name="file">

                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>İçerik</strong>
                            </div>

                            <div class="card-body card-block">

                                <div class="form-group">
                                    <label class=" form-control-label">Başlık</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-file-text"></i></div>
                                        <input class="form-control" type="text" name="caption" maxlength="250" value="@Model.caption">
                                        @Html.ValidationMessageFor(m => m.caption, "", new { @style = "color:red" })
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Makale</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-file-archive-o"></i></div>
                                        <textarea class="form-control" type="text" name="infoText" rows="6" maxlength="250">@Model.infoText</textarea>

                                    </div>
                                    @Html.ValidationMessageFor(m => m.infoText, "", new { @style = "color:red" })
                                </div>


                                <div class="form-group">

                                    <input type="submit" class="btn btn-warning" style="float: right" value="Güncelle" />

                                </div>

                            </div>

                        </div>
                    </div>
                </div><!--row end-->
            </form>
        </div><!-- .animated -->
    </div>
}
else
{
    <div class="form-group">

        <h4 style="text-align:center" >Güncellenmek İstenilen Servis Bulunamadı</h4>

    </div>
}






