@using talkTable.MVCUI.Models
@using talkTable.Entities.Entities
@model bannerModels

<section class="slider" id="slider">
    <div class="home-slider-area">
        <div id="home-slider" >
            @if (Model.banners.Count > 0)
            {


                string className1;
                string className2;
                foreach (banner bnr in Model.banners)
                {

                     className1 = "slide1";
                     className2 = "slide-top";
                    if (bnr.onBannerFlashPath != null)
                    {
                        className1 = "slide2";
                        className2 = "slide-left";
            <style type="text/css">
                        .@className1::after {
                        position: absolute;
                        top:177px;
               right:0;
               
                        float:right;
                            background-image: url('@bnr.onBannerFlashPath');
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                        width: 600px;
                        height: 600px;
                        content: '';
                        }

                 .@className1 .container{

                
                }
            </style>
                    }

                    <div class="slide @className1" style="background-image: url('@bnr.bannerPath');">
                        <div class="container" style="margin-top:-50px!important;" >
                            <div class="@className2">
                                <div class="logo">

                                    <img src="@Model.site.logoPath" alt="talktable.net"  />
                                </div>
                                <div class="title">
                                    @bnr.onBannerCaption
                                </div>
                                <div class="text">
                                    @bnr.onBannerText
                                </div>
                                @*<div class="btns">
                                    <a href="#what" class="red go-anim">Detaylı Bilgi</a>
                                    <a href="#contact" class="green go-anim">İletişime Geç</a>
                                </div>*@
                            </div>
                            <div class="slide-bottom">
                                <div class="list">
                                    @if (bnr.bannerBoxInfo.Any())
                                    {
                                        foreach (bannerBoxInfo box in bnr.bannerBoxInfo)
                                        {
                                            <article >
                                                <div class="artc-header">
                                                    <div class="icon"><img src="@box.boxIconPath" alt="@box.IconAlt"></div>
                                                    <div class="text" >
                                                        @box.boxInText
                                                    </div>
                                                    <div class="badge">@box.boxOnButtonValue</div>
                                                </div>
                                            </article>
                                        }
                                    }

                                </div>
                            </div>
                        </div>

                    </div>
                 

                    
                }
            }
        </div>
    </div>
</section>
