@using talkTable.Entities.Entities
@model howIsWork





<section class="how" id="how">
    <div class="container">
        <div class="section-title" data-aos="slide-right">@Model.captionText</div>
        <div class="section-desc" data-aos="slide-right">
            @Model.InfoText
        </div>
        <div class="phone-timeline-area" data-aos="slide-up">
            @if (Model.howIsWorkPicture.Any())
            {
                int index = 1;
                <ul>
                    @foreach (var step in Model.howIsWorkPicture)
                    {

                        <li>
                            <span class="number">@index</span><span class="text">
                                @step.stepText
                            </span>
                        </li>


                        index++;
                    }

                </ul>

                <div class="timeline" data-aos="slide-up" data-aos-delay="100">
                    <div class="blocks">

                        @foreach (var picture in Model.howIsWorkPicture)
                        {

                            <div class="block">

                                <div class="phone int"id="phone-int">
                                    <img src="@picture.picturePath" alt="@picture.pictureAlt">
                                    @if (picture.howIsWorkIcon.Count>0)
                                    {
                                        int sayac = 1;

                                        string left = "left" + sayac;
                                        string right = "right" + sayac;
                                    <div class="ints">
                                        @if (picture.howIsWorkIcon.Count > 4)
                                        {
                                            foreach (var icon in picture.howIsWorkIcon.Take(4))
                                            {

                                                <div class="@left">
                                                    <img src="@icon.iconPath" alt="@icon.iconAlt">
                                                    <div class="text">
                                                        @icon.iconText
                                                    </div>
                                                </div>



                                                sayac++;
                                                left = "left" + sayac;
                                            }
                                            sayac = 1;
                                            foreach (var icon in picture.howIsWorkIcon.Skip(4).ToList())
                                            {

                                                <div class="@right">
                                                    <img src="@icon.iconPath" alt="@icon.iconAlt">
                                                    <div class="text">
                                                        @icon.iconText
                                                    </div>
                                                </div>

                                                sayac++;
                                                right = "right" + sayac;
                                            }
                                        }
                                        else
                                        {
                                            sayac = 1;
                                            foreach (var icon in picture.howIsWorkIcon)
                                            {

                                                <div class="@left">
                                                    <img src="@icon.iconPath" alt="@icon.iconAlt">
                                                    <div class="text">
                                                        @icon.iconText
                                                    </div>
                                                </div>



                                                sayac++;
                                                left = "left" + sayac;
                                            }
                                        }
                                    </div>
                                    }
                                </div>
                                <div class="text">
                                    @picture.pictureText
                                </div>
                            </div>
                        }




                    </div>
                </div>
            }
        </div>
    </div>
</section>
