@using talkTable.Entities.Entities
@model siteInformation
<section class="contact" id="contact">
    <div class="container" data-aos="slide-right" data-aos-offset="-100">
        <div class="contact-area">
            <div class="left">
                <div class="title">@Model.sendMailCaption</div>
                <div class="desc">
                   @Model.sendMailSubText
                </div>
                <ul class="contacts">
                    <li>
                        <i class="fa fa-phone"></i> <span class="text">
                            <a href="tel:+90 532 377 9712">@Model.phone</a>
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i> <span class="text">
                            <a href="mailto:info@moneymo.com">@Model.emailAddress</a>
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-building"></i> <span class="text">
                            @Model.address
                        </span>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="form">
                    <form action="/mail/sendMail" method="post" id="contact-form">
                        @Html.AntiForgeryToken()
                        
                        <div class="form-box">
                            <label for="">Ad Soyad</label>
                            <input type="text" name="nameSurname" required maxlength="100">
                            @Html.ValidationMessage("nameSurname","",new {@style="color:red" })
                        </div>
                        <div class="form-box">
                            <label for="">E-posta Adresi</label>
                            <input type="email" name="mailAddress" required maxlength="70">
                            @Html.ValidationMessage("mailAddress", "", new { @style = "color:red" })
                        </div>
                        <div class="form-box">
                            <label for="">Firma Adı</label>
                            <input type="text" name="companyName" maxlength="100">
                            @Html.ValidationMessage("companyName", "", new { @style = "color:red" })
                        </div>
                        <div class="form-box">
                            <label for="">Telefon</label>
                            <input type="text" name="phone" required maxlength="11">
                            @Html.ValidationMessage("phone", "", new { @style = "color:red" })
                        </div>
                        <div class="form-box">
                            <label for="">Mesaj</label>
                            <textarea name="mailText" id="message" cols="30" rows="10" required></textarea>
                            @Html.ValidationMessage("mailText", "", new { @style = "color:red" })
                        </div>
                        <div class="form-box">
                            <input type="submit" value="Gönder"><br />
                            @if (ViewData["reviewInfo"] != null)
                            {
                                <p>@ViewData["reviewInfo"].ToString()</p>
                            }

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
