@using talkTable.Entities.Entities
@model talkTableTeam
<section class="team" id="team">
    <div class="container">
        <div class="section-title" data-aos="slide-left">
            @Model.caption
        </div>
        <div class="content" data-aos="slide-left">
            <div class="two-block">
                <div class="col-md-12">
                    @Model.text
                </div>

            </div>
        </div>
        @if (Model.teamMember.Any())
        {
            <div class="team-list" data-aos="slide-right" data-aos-offset="-100">
                <div class="block-title">@Model.teamCaption</div>
                <div class="list-area">
                    <div class="list">
                        @foreach (var member in Model.teamMember)
                        {
                            <article class="col-md-3">
                                <div class="artc">
                                    <div class="artc-header">
                                        <img src="@member.picturePath" alt="@member.pictureAlt" style="border-radius:100px;">
                                    </div>
                                    <div class="artc-footer">
                                        <div class="name">@member.name</div>
                                        <div class="pos"><strong>@member.job</strong></div>
                                    </div>
                                </div>
                            </article>
                        }


                    </div>


                </div>
            </div>
        }
    </div>
</section>
