@using talkTable.Entities.Entities
@model usingArea
<section class="services" id="services">
    <div class="container" data-aos="slide-right">
        <div class="section-title">@Model.areaCaption</div>
        <div class="content text-center">
            <p>
               @Model.areaDescription
            </p>
        </div>
    </div>
    <div class="imgs" data-aos="slide-up">
        
        <ul>
            @if (Model.usingAreaPicture.Any())
            {
                foreach (var pic in Model.usingAreaPicture)
                {
                    <li><img src="@pic.picturePath" alt="@pic.pictureAlt"></li>
                }
            }


        </ul>
    </div>
    <div class="container">
        <div class="services-list">
            <div class="top" data-aos="slide-left">
                <ul>
                    <li>
                        <div class="bx">
                            
                            <img src="~/images/paper-b.png" alt="Mağazada" />
                            <span class="desc">Mağazada</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="~/images/computer-b.png" alt="Fatura ödemelerinde"/>
                            
                            <span class="desc">Fatura ödemelerinde</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="~/images/shopping-b.png" alt="Online alışverişte"/>
                   
                            <span class="desc">Online alışverişte</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="~/images/map-marker-b.png" alt="Yolda" />
                           
                            <span class="desc">Yolda</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="center" data-aos="slide-right">
                <ul>
                    @if (Model.areaInfo.Any())
                    {
                        foreach (var info in Model.areaInfo)
                        {
                            <li>@info.areaInfoText</li>
                           
                        }
                    }
                </ul>
            </div>
            <div class="bottom" data-aos="slide-up">
                <ul>
                    <li>
                        <div class="bx">
                            <img src="~/images/coffe-b.png" alt="Kafede, Restoranda" />
                            
                            <span class="desc">Kafede, Restoranda</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="~/images/newspaper-b.png" alt="Katalog Alışverişlerinde"/>
                            
                            <span class="desc">Katalog Alışverişlerinde</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="~/images/box-b.png" alt="Kapıda Ödemelerde"/>
                         
                            <span class="desc">Kapıda Ödemelerde</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="~/images/basket-b.png" alt="Markette"/>
                    
                            <span class="desc">Markette</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

